[submodule "components/core-header-panel"]
	path = components/core-header-panel
	url = https://github.com/Polymer/core-header-panel.git
[submodule "components/paper-button"]
	path = components/paper-button
	url = https://github.com/Polymer/paper-button.git
[submodule "component/platform"]
	path = component/platform
	url = https://github.com/Polymer/platform.git
[submodule "platform.js"]
	path = platform.js
	url = https://github.com/Polymer/platform.git
[submodule "core-icon-button/core-icon-button.html"]
	path = core-icon-button/core-icon-button.html
	url = https://github.com/Polymer/core-icon-button
[submodule "core-toolbar/core-toolbar.html"]
	path = core-toolbar/core-toolbar.html
	url = https://github.com/Polymer/core-toolbar
