[submodule "components/core-header-panel"]
	path = components/core-header-panel
	url = https://github.com/Polymer/core-header-panel.git
[submodule "components/paper-button"]
	path = components/paper-button
	url = https://github.com/Polymer/paper-button.git
